<!doctype html>
<head>
	<meta charset="utf-8">
<meta name="renderer" content="webkit"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1" name="viewport">
		<title>Products </title>
		<meta name="keywords" content="" />
		<meta name="description" content="" />
<link rel="shortcut icon" href="https://global.pantum.com/templates/PT_EN/static/images/favicon.ico" type="image/x-icon" />
<link href="https://global.pantum.com/templates/PT_EN/static/css/animate.min.css" rel="stylesheet">
<link href="https://global.pantum.com/templates/PT_EN/static/css/swiper.min.css" rel="stylesheet">
<link href="https://global.pantum.com/templates/PT_EN/static/css/common.css" rel="stylesheet">
<link href="https://global.pantum.com/templates/PT_EN/static/css/style.css?v=1.1" rel="stylesheet">
<script type="text/javascript" src="https://global.pantum.com/templates/PT_EN/static/js/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="https://global.pantum.com/templates/PT_EN/static/js/ratio-img.js"></script>
<script type="text/javascript" src="https://global.pantum.com/templates/PT_EN/static/js/wow.js"></script>
<script type="text/javascript" src="https://global.pantum.com/templates/PT_EN/static/js/placeholder.js"></script>
<script type="text/javascript" src="https://global.pantum.com/templates/PT_EN/static/js/swiper.min.js"></script>
<script type="text/javascript" src="https://global.pantum.com/templates/PT_EN/static/js/public.js"></script>
<script type="text/javascript" src="https://global.pantum.com/templates/PT_EN/static/js/layer/layer.js"></script>
<script type="text/javascript" src="https://global.pantum.com/templates/PT_EN/static/js/jquery.cookie.js"></script>
<script type="text/javascript">
	var localDomain = "https://global.pantum.com";
	var staticPath = "https://global.pantum.com/templates/PT_EN";
	$(function(){
		if (!(/msie [6|7|8|9]/i.test(navigator.userAgent))){
			new WOW({
				mobile: false
			}).init();
		};
	});
	var defaultTxt = {
		selectProductType: "Select Type",
		selectProductSeries: "Select Series",
		selectProductModel: "Select Model",
		selectCountryTxt: "Select Country",
		selectCityTxt: "Select City",
		selectRegionTxt: "Select Region",
		subsPlaceholder: "Please Enter Your E-mail Address",
		subsInvalidMailTip: "Your e-mail address is invalid",
		subsNoSelectReadPrivacyPolicyTip: "Please check the box to allow pantum to  use this information《Read Pantum privacy policy》",
		subsSuccessTip: "Successfully subscribed",
		subsErrorTip: "Operation failed",
		dldSelectOSVersionSelectTit: "Please select",
		dldSelectOSVersionSelectTip: "Please select your operating system version",
		cseReviewMultipleQueriesTip: "The product you purchased has been inspected many times, please try the anti-counterfeiting mark inspection method or contact the official customer service email: service01@pantum.com",
		cseReviewCounterfeitTip: "The anti-counterfeiting code is not found, the product you purchased may not be an official authentic product. Please confirm whether the product was purchased from an official channel.",
		cseReviewBeOverdueTip: "Anti-counterfeiting code expiration!",
		cseReviewSystemBusyTip: "System busy!",
		cseReviewCheckCodeErrorTip: "Verification code error",
		cseReviewSnInputTit: "Please enter serial number of consumables",
		cseReviewFormatErrorTip: "Please confirm whether the security code is entered correctly",
		cseReviewCheckCodeNullTip: "The verification code cannot be empty"
	}
</script>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-ZV2L4TP3QK"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-ZV2L4TP3QK');
</script>
</head>
<body>
<!--顶部导航-->
<div class="header cf">
        <a href="https://global.pantum.com" class="logo fl dpb"><img src="https://drivers.pantum.com/userfiles/images/banner%E5%9B%BE/logo.png" class="logo1"><img src="https://global.pantum.com/templates/PT_EN/static/images/logo1.png" class="logo2"></a>
    <div class="top_right fr">
        <div class="search fl"></div>
        <div class="search_fixed">
            <div class="wrap1 hid">
                <input type="text" placeholder="Please enter keyword" id="topSearchVal" class="fl">
                <div class="search_close fr"></div>
            </div>
        </div>
            <a class="lang fl pr" href="https://global.pantum.com/website/">Worldwide</a>
    </div>
    <div class="mobileMask"></div>
    <div class="mainMenu cf fr">
        <div class="item cr">
            <a class="mNav" href="https://global.pantum.com/product-center/">Products </a>
            <div class="subMenu">
                <div class="wrap">
                    <dl>
                        <dt><a href="">By Color</a></dt>
                        <dd>
                                    <a href="/product-center/?ty=1517384692379201538&ta=1517384704190361601">Monochrome Printers</a>
                                    <a href="/product-center/?ty=1517384692379201538&ta=1517384704177778689">Color Printers</a>
                        </dd>
                    </dl>
                    <dl>
                        <dt><a href="">By Function</a></dt>
                        <dd>
                                    <a href="/product-center/?ty=1517384692379201538&ta=1517384711039660033">Multifunction Printers</a>
                                    <a href="/product-center/?ty=1517384692379201538&ta=1517384709848477698">Single Function Printers</a>
                                    <a href="/product-center/?ty=1517384692379201538&ta=1517384716689387522">A4 Printers</a>
                                    <a href="/product-center/?ty=1517384692379201538&ta=1517384724859891714">WIFI Printers</a>
                        </dd>
                    </dl>
                    <dl>
                        <dt><a href="">By Speed</a></dt>
                        <dd>
                                    <a href="/product-center/?ty=1517384692379201538&ta=1517384721592528897">1-24ppm</a>
                                    <a href="/product-center/?ty=1517384692379201538&ta=1517384722234257410">25-35ppm</a>
                                    <a href="/product-center/?ty=1517384692379201538&ta=1517384723484160002">36-44ppm</a>
                        </dd>
                    </dl>
                </div>
            </div>
            <div class="arrow"></div>
        </div>
        <div class="item ">
            <a class="mNav" href="https://global.pantum.com/consume-material/">Consumables&Accessories </a>
            <div class="subMenu">
                <div class="wrap">
                    <a href="/consume-material/?ta=1518493728130498562"><span>Cartridges</span></a>
                    <a href="/consume-material/?ta=1518493876372979713"><span>Drum Unit</span></a>
                    <a href="/consume-material/?ta=1518493775617409026"><span>Toner Cartridges</span></a>
                    <a href="/consume-material/?ta=1518493932572459010"><span>Waste Toner Bin</span></a>
                </div>
            </div>
            <div class="arrow"></div>
        </div>
        <div class="item ">
            <a class="mNav" href="https://global.pantum.com/support/">Service&Support </a>
            <div class="subMenu">
                <div class="wrap">
                                <a href="https://global.pantum.com/support/download/driver/">
                                    <span>Driver/File Download</span>
                                </a>
                            <a href="https://global.pantum.com/support/locate/">
                                <span>After-sales Contact</span>
                            </a>
                            <a href="https://global.pantum.com/support/service-policy/">
                                <span>Service Policies</span>
                            </a>
                            <a href="https://global.pantum.com/support/inquiry/">
                                <span>Consumables Identification</span>
                            </a>
                </div>
            </div>
            <div class="arrow"></div>
        </div>
        <div class="item ">
            <a class="mNav" href="/about-us/company-profile/">About Us </a>
            <div class="subMenu">
                <div class="wrap">
                            <a href="https://global.pantum.com/about-us/company-profile/">
                                <span>Company Profile</span>
                            </a>
                            <a href="https://global.pantum.com/about-us/news/">
                                <span>Press Center</span>
                            </a>
                                <a href="https://global.pantum.com/about-us/videos/promotional/">
                                    <span>Video Center</span>
                                </a>
                </div>
            </div>
            <div class="arrow"></div>
        </div>
        <div class="item ">
            <a class="mNav" href="/contact-us/media-services/">Contact Us </a>
            <div class="subMenu">
                <div class="wrap">
                            <a href="https://global.pantum.com/contact-us/media-services/">
                                <span>Media and Services</span>
                            </a>
                            <a href="https://global.pantum.com/contact-us/business/">
                                <span>Business Cooperation</span>
                            </a>
                            <a href="https://global.pantum.com/contact-us/join-us/">
                                <span>Join Us</span>
                            </a>
                            <a href="https://global.pantum.com/contact-us/suggest/">
                                <span>Requests and Suggestions</span>
                            </a>
                </div>
            </div>
            <div class="arrow"></div>
        </div>
    </div>
    <div class="mobileMenu"></div>
    <div class="nav_bg"></div>
</div>



<div class="inbanner pr mt100">
	<img src="https://drivers.pantum.com/userfiles/images/banner%E5%9B%BE/%E4%BA%A7%E5%93%81%E4%B8%AD%E5%BF%83.jpg">
	<div class="ban_txt pa">
		<div class="wrap1">
			<div class="f-42">Continuous Innovation</div>
			<div class="f-18 c-64656a mt10">Create more value for customers in the professional field
<br>
<br>
<br>
</br><p style="font-size:12px;">* Please refer to the relevant regional/national sub stations for the products sold in various regions/countries, or contact Pantum directly to  confirm.</p></div>
		</div>
	</div>
	<div id="content"></div>
	<!--面包屑-->
<div class="crumbs pa">
    <div class="wrap1">
        <a href="https://global.pantum.com">Home</a>
                    <span>Products </span>
    </div>
</div>
</div>
<div class="main_box">
	<div class="wrap1">
		<div class="pro_top cf">
			<div class="pro_search fl"><input type="text" value="" id="searchVal" placeholder="Search by product name" /><i></i></div>
			<!-- <div class="pro_sort fr">
				<div class="allSelect pr dpinb">
					<div class="select_tit pr f-16">Sort by nearest/farthest category</div>
					<div class="select_ul pa" id="orderSelect">
						<a class="f-16" href="javascript:void(0);" data-val="">Default</a>
						<a class="f-16" href="javascript:void(0);" data-val="priceAsc">Price - from low to high</a>
						<a class="f-16" href="javascript:void(0);" data-val="priceDesc">Price - from high to low</a>
						<input type="hidden" class="select_hidden" name="orderType" id="orderType" value="">
					</div>
				</div>
			</div> -->
		</div>
		<div class="pro_box mt45 cf">
			<div class="pro_menu fl">
				<div class="pro_tit f-18 fb all-product">All products</div>
					<ul class="menu_list">
							<li>
								<h3 class="f-18 fb"><a href="javascript:void(0);" class="mainType" data-id="1517384692379201538">Printers&Copiers</a><i></i></h3>
									<div class="menu_second">
											<dl>
												<dt class="f-16 fb"><a href="javascript:void(0);">Color</a><i></i></dt>
													<dd>
															<a href="javascript:void(0);" data-id="1517384704190361601"><span>Mono</span></a>
															<a href="javascript:void(0);" data-id="1517384704177778689"><span>Color</span></a>
													</dd>
											</dl>
											<dl>
												<dt class="f-16 fb"><a href="javascript:void(0);">Function</a><i></i></dt>
													<dd>
															<a href="javascript:void(0);" data-id="1517384709848477698"><span>Single Function</span></a>
															<a href="javascript:void(0);" data-id="1517384711039660033"><span>Multifunction</span></a>
													</dd>
											</dl>
											<dl>
												<dt class="f-16 fb"><a href="javascript:void(0);">Print Speed</a><i></i></dt>
													<dd>
															<a href="javascript:void(0);" data-id="1517384721592528897"><span>1-24ppm</span></a>
															<a href="javascript:void(0);" data-id="1517384722234257410"><span>25-35ppm</span></a>
															<a href="javascript:void(0);" data-id="1517384723484160002"><span>36-44ppm</span></a>
													</dd>
											</dl>
											<dl>
												<dt class="f-16 fb"><a href="javascript:void(0);">Print Format</a><i></i></dt>
													<dd>
															<a href="javascript:void(0);" data-id="1517384716689387522"><span>A4</span></a>
															<a href="javascript:void(0);" data-id="1517384715485622273"><span>A3</span></a>
													</dd>
											</dl>
											<dl>
												<dt class="f-16 fb"><a href="javascript:void(0);">Connectivity</a><i></i></dt>
													<dd>
															<a href="javascript:void(0);" data-id="1517384724834725890"><span>USB</span></a>
															<a href="javascript:void(0);" data-id="1517384724847308802"><span>Network</span></a>
															<a href="javascript:void(0);" data-id="1517384724859891714"><span>WiFi</span></a>
													</dd>
											</dl>
									</div>
							</li>
					</ul>
			</div>
			<div class="pro_list_con fr">
				<div class="select_list">
				</div>
				<!-- 没有查询到 start-->
				<div class="noresult tc" style="display: none;" id="errorModal">
					<img src="https://global.pantum.com/templates/PT_EN/static/images/fighting.png">
					<div class="f-16 c-999 tc mt35" id="errorMsg" >Pantum is working hard on research and development ......</div>
				</div>
				<!-- 没有查询到 start-->
			</div>
		</div>
	</div>
</div>
<div class="bom_box">
	<div class="wrap1">
		<div class="f-36 fb tc">What suggestions do you have in the process of using the product?</div>
		<a class="btn_guest dpb tc mar_auto mt30" href="https://global.pantum.com/contact-us/suggest/">Put forward your valuable suggestions</a>
	</div>
</div>
<script type="text/x-jsrender" id="productList">
{{if !!pageList}}
{{for pageList.records}}
<dl>
	<dt>
		<a href="https://global.pantum.com/product-center/{{:id}}.html"><div class="img hid"><img src="{{:image}}"></div></a>
		{{if !!topLabel}}
		<span>{{:topLabel}}</span>
		{{/if}}
	</dt>
	<dd>
		<a href="https://global.pantum.com/product-center/{{:id}}.html" class="tit dpb f-18">{{:title}}</a>
		<div class="txt f-16 c-999 lh17">{{textArea:intro}}</div>
		<div class="price f-18 c-999 mt5">
		{{if !!retailPrice}}
			{{if !!monetaryUnit}}
			{{:monetaryUnit}}
			{{else}}
			$
			{{/if}}
			{{:retailPrice}}
		{{/if}}
		</div>
	</dd>
	<div class="bt_mask"></div>
</dl>
{{/for}}
{{/if}}
</script>
<script type="text/x-jsrender" id="pageInfo">
{{if !!pageList && pageList.pages > 1}}
{{if pageList.current > 1}}
	<a class="page_prev ajax_page" href="javascript:;" data-val="{{:pageList.current - 1}}"></a>
{{/if}}
{{for pageSetting.pageNum}}
	{{if #parent.parent.data.pageList.current == #data}}
		<a class="page_num current" href="javascript:;">{{:#data}}</a>
	{{else}}
		<a class="page_num ajax_page" href="javascript:;" data-val="{{:#data}}">{{:#data}}</a>
	{{/if}}
{{/for}}
{{if pageList.current < pageList.pages}}
	<a class="page_next ajax_page" href="javascript:;" data-val="{{:pageList.current + 1}}"></a>
{{/if}}
<span>{{:pageList.current}}/{{:pageList.pages}}</span>
{{/if}}
</script>
<script type="text/x-jsrender" id="queryOption">
{{for options }}
	<a href="javascript:void(0);" class="select_a" data-id="{{:id}}">{{:title}}<i></i></a>
{{/for}}
{{if options.length > 0 }}
<a href="javascript:void(0);" class="allClear">Clear all</a>
{{/if}}
</script>
<div class="footer">
    <div class="wrap1">
        <div class="ft_top cf">
            <a href="https://global.pantum.com" class="botLogo fl"><img src="https://drivers.pantum.com/userfiles/images/%E4%BA%A7%E5%93%81%E5%9B%BE%E7%89%87/logo.png"> </a>
            <div class="botMenu fl hid">
                <dl>
                    <dt class="f-16 fb"><a href="https://global.pantum.com/basic/purchase/">SHOP ONLINE</a><i></i></dt>
                    <dd>
                             <a href="https://www.amazon.com/stores/page/3625349A-133B-48F2-BCCF-7FA7F2FB4171">Amazon</a>
                    </dd>
                </dl>
                <dl>
                    <dt class="f-16 fb"><a href="/about-us/videos/">VIDEO CENTER</a><i></i></dt>
                    <dd>
                        <a href="https://global.pantum.com/about-us/videos/scene/">Introduction Video</a>
                        <a href="https://global.pantum.com/about-us/videos/operation/">Operation Video</a>
                        <a href="https://global.pantum.com/about-us/videos/promotional/">Promotion Video</a>
                    </dd>
                </dl>
                <dl>
                    <dt class="f-16 fb"><a href="http://csspi.pantum.com/">MEMBER CENTER</a><i></i></dt>
                    <dd>
                        <a href="http://csspi.pantum.com/">Member Center</a>
                        <a href="https://service-global.pantum.com/partner/login/login.html">Partners Center</a>
                        <a href="https://global.pantum.com/subscribe/">Mail Subscription</a>
                    </dd>
                </dl>
            </div>
            <div class="ft_right fr">
                <div class="tit c-fff tr">STAY CONNECTED</div>
                <div class="ft_share mt25">
                    <a href="https://www.facebook.com/PantumInternational/">
                        <img src="https://drivers.pantum.com/userfiles/images/icon/facebook.png">
                    </a>
                    <a href="https://twitter.com/PantumPrinter">
                        <img src="https://drivers.pantum.com/userfiles/images/icon/twitter.png">
                    </a>
                    <a href="https://www.youtube.com/channel/UCgUlAhXozRQ_j3fvq4N_jyg">
                        <img src="https://drivers.pantum.com/userfiles/images/icon/Youtube.png">
                    </a>
                    <a href="https://www.linkedin.com/company/pantum-international-ltd/mycompany/?viewAsMember=true">
                        <img src="https://drivers.pantum.com/userfiles/images/icon/linkedin.png">
                    </a>
                    <a href="https://www.instagram.com/pantumprinter/?fbclid=IwAR0EUdYzqJ1SwKX8dVBg8FwtdrZmP-C5634MtuQdVfqdKSyc_KkODfoqIXE">
                        <img src="https://drivers.pantum.com/userfiles/images/icon/instagram.png">
                    </a>
                </div>
            </div>
        </div>
        <div class="ft_bom hid mt40">
            <div class="copyright fl f-14 c-bbb">Copyright © 2022 Pantum International Limited. All Rights Reserved</div>
            <div class="ft_links fr f-14">
                <a href="https://global.pantum.com/basic/privacy-policy/">Pantum Privacy Policy/User Agreement</a>
                <a href="https://global.pantum.com/basic/gvrp/">Pantum App Privacy Policy</a>
                <a href="https://global.pantum.com/basic/cookie-policy/">Cookie Policy</a>
            </div>
        </div>
    </div>
</div>

    <div class="cookies_pop">
        <div class="wrap1">
            <div class="cookies_txt ovh c-64656a">This website will use cookies and similar technologies to enhance the user experience and to maintain as smooth a service as possible for each visitor. For more information, please visit our <a href="https://global.pantum.com/basic/cookie-policy/">Cookies Policy</a></div>
            <button class="btn_accept fr bra c-fff cookies_policy-btn" data-type="agreePart">Necessary Cookies only</button>
            <button class="btn_accept fr bra c-fff cookies_policy-btn" data-type="agreeAll">Accept all</button>

            <a class="cookies_pop_close cookies_policy-btn" href="javascript:;" data-type="close">
                <span>By clicking on the 'X' button, you agree to our use of Cookies this time</span>
            </a>
        </div>
    </div>
<script type="text/javascript" src="https://global.pantum.com/templates/PT_EN/static/js/jsrender.min.js"></script>
<script type="text/javascript">
	var linkUrl = "https://global.pantum.com/product-center/";
	var currMenuUrl = "https://global.pantum.com/product-center/";
	$(function(){
		//多行文本转换
		$.views.converters("textArea", function(val) {
			if (!val) {
				return "";
			}
			var newStr = val.replace(/\r\n/g,"<br>");
			newStr = newStr.replace(/\n/g,"<br>");
			newStr = newStr.replace(/(\r\n)|(\n)/g,'<br>');
			return newStr;
		});
		/**
		 * 大类选择
		 */
		// $(".menu_list li h3").click(function(){
		// 	$(this).parent().siblings().removeClass("active");
		// 	$(this).parent().toggleClass("active");
		// 	$(this).next().slideToggle();
		// 	$(this).parent().siblings().find(".menu_second").slideUp();
		//
		// });
		$(".all-product").click(function (){
			location.href = currMenuUrl + "#content";
		});
		// $(".menu_list li").addClass("active");
		$(".menu_list li h3").click(function(){
			$(this).parent().toggleClass("active");

			if($(this).parent().hasClass("active")){
				$(this).next().slideDown();
				$(this).parent().siblings().find(".menu_second").slideUp();
				$(this).parent().siblings().removeClass("active");
				$(this).parent().siblings().find("dl").removeClass("active");
				$(this).parent().siblings().find("dd").slideUp();
				$(this).parent().siblings().find("dd a").removeClass("active");
				toQuery();
			}else{
				$(this).next().slideUp();
				$(this).next().find("dl dd").slideUp();
				$(this).next().find("dl").removeClass("active");
				$(this).next().find("dd a").removeClass("active");
			}

		})

		$(".menu_second dl dt").click(function(){
			$(this).parent().toggleClass("active");
			$(this).next().slideToggle();
			$(this).parent().siblings().find("dd").slideUp();
			$(this).parent().siblings().removeClass("active");
		});
		$(".menu_second dl dd a").click(function(){
			$(this).toggleClass("active");
			toQuery();
		});

		$(".select_list").on("click",".select_a",function(){
			$(".menu_second dl dd a[data-id="+ $(this).data("id") +"]").removeClass("active");
			$(this).remove();
			toQuery();
		});
		$(".select_list").on("click",".allClear",function(){
			$(".menu_second dl dd a").removeClass("active");
			$(".select_list a").remove();
			$(".menu_list li").siblings().removeClass("active");
			$(".menu_second dl").removeClass("active");

			$(".menu_list li h3").next().slideDown();
			$(".menu_list li h3").parent().siblings().find(".menu_second").slideUp();
			$(".menu_list li h3").parent().siblings().removeClass("active");
			$(".menu_list li h3").parent().siblings().find("dl").removeClass("active");
			$(".menu_list li h3").parent().siblings().find("dd").slideUp();
			$(".menu_list li h3").parent().siblings().find("dd a").removeClass("active");
			toQuery();
		});

		$(".pro_list dl").each(function(){
			$(this).hover(function(){
				var child_height = $(this).find("dd").height()+$(this).find("dt").height()+40;
				$(this).find(".bt_mask").height(child_height);
			})
		});

		$(window).resize(function() {
			$(".pro_list dl").each(function() {
				$(this).hover(function () {
					var child_height = $(this).find("dd").height() + $(this).find("dt").height() + 40;
					$(this).find(".bt_mask").height(child_height);
				})
			});
		});

		$("#searchVal").keydown(function(e) {
			if (e.keyCode == "13") {
				toQuery();
			}
		});
		// $(document).keyup(function(event){
		// 	if(event.keyCode ==13){
		// 		toQuery();
		// 	}
		// });
		$(".pro_search i").click(function(){
			toQuery();
		});

		$(".main_box").on("click",".ajax_page",function (){
			toQuery($(this).data("val"));
		});
		//排序
		$("#orderSelect").on("click","a",function (){
			toQuery();
		});
		//获取参数
		var type = getQueryVariable("ty");
		var queryFlag = false;
		if (!!type) {
			//标记状态
			var _type = $("a[data-id="+ type +"]")
			_type.parent().parent('li').addClass("active");
			_type.parent().next().slideDown();
			queryFlag = true;
		}
		var taStr = getQueryVariable("ta");
		if (!!taStr) {
			//标记状态
			var _taArr = taStr.split("-");
			_taArr.forEach(function(t){

				var _ta = $("a[data-id="+ t +"]")
				_ta.addClass("active");
				_ta.parent().parent().addClass("active");
				_ta.parent().show();
				queryFlag = true;
			});
		}
		var orStr = getQueryVariable("or");
		if (!!orStr) {
			//标记状态
			var _or = $("a[data-val="+ orStr +"]")
			$("#orderType").val(orStr);
			_ta.addClass("active");
			_or.parent().prev().attr("data-val",_or.html());
			_or.parent().prev().html(_or.html())
			queryFlag = true;
		}
		var seStr = getQueryVariable("se");
		if (!!seStr) {
			//标记状态
			$("#searchVal").val(seStr);
			queryFlag = true;
		}
		if (queryFlag) {
			toQuery(1,false);
		}
	});
	function toQuery(pageNo,setParams) {
		if (setParams == null) {
			setParams = true;
		}
		var t = [];
		var tDetail = [];
		$(".menu_second dl dd a.active").each(function () {
			var dataId = $(this).data("id");
			t.push(dataId);
			tDetail.push({
				title: $(this).find("span").html(),
				id : dataId
			})
		});

		$(".select_list").html($("#queryOption").render({"name":"Clear all",options:tDetail}));
		if($(".select_list").find("a").length>0){
            $(".pro_list").css("margin-top","30px");
        }else{
            $(".pro_list").css("margin-top",0);
        }
		var mainType = $(".menu_list li.active h3 a");
		var ty = "";
		if (!!mainType) {
			ty = mainType.data("id");

		}
		var keywords = $(".pro_search input").val();

		var orderType = $("#orderType").val();

		if (setParams) {
			linkUrl = changeURLStatic("ty",ty,linkUrl);
			linkUrl = changeURLStatic("ta",t.join("-"),linkUrl);
			linkUrl = changeURLStatic("se",(!!keywords ? keywords : ""),linkUrl);
			linkUrl = changeURLStatic("or",orderType,linkUrl);
		}
		$.ajax({
			url: localDomain + "/product-center/queryData",
			data:{ta:t.join("-"),ty:ty,se:(!!keywords ? keywords : ""),or:orderType,pageNo:(!!pageNo ? pageNo : 1)},
			type: "get",
			dataType:"json",
			success:function (res) {
				if (res.code == 200) {
					if(res.result.pageList){

						var _listHtml = $("#productList").render(res.result);
						var _pageHtml = $("#pageInfo").render(res.result);

						$(".pro_list").html(_listHtml);
						$(".page_box").html(_pageHtml);
						$("#errorModal").hide();
					}else{
						$("#errorModal").show();
						$(".pro_list").html('');
						$(".page_box").html('');
					}
					if (setParams) {
						$("html,body").animate({scrollTop:$("#content").offset().top},0);
					}
					$(".pro_list dl").each(function(){
						$(this).hover(function(){
							var child_height = $(this).find("dd").height()+$(this).find("dt").height()+40;
							$(this).find(".bt_mask").height(child_height);
						})
					});

					$(window).resize(function() {
						$(".pro_list dl").each(function() {
							$(this).hover(function () {
								var child_height = $(this).find("dd").height() + $(this).find("dt").height() + 40;
								$(this).find(".bt_mask").height(child_height);
							})
						});
					});

				}
			}
		});
	}
</script>
</body>
</html>
